 {% extends 'base.html.twig' %}

{% block title %}J|M|D Web Developper - Biography
{% endblock %}
 
 {% block body %}
 <main>
        <body>
            <img class="secondary__logo" src="{{asset('assets/pictures/JMD.png')}}" alt="Logo">
            <section class="other__pages">
                <h2><span>A</span>bout Me</h2>
                    <div class="bio">
                    <span class="textbox">
                        <p>Born in South of France, I spent the first 20 years of my life working in the hospitality industry arround the world. This experience brought me several skills such as:</p>
                
                        <br><i>Customer Service Excellence</i>
                        <br><i>Be Ressoucefull</i>
                        <br><i>Always meets the expectations</i><br>
                
                    <br><p>But the Covid-19 pandemic made me realise that I have more to offer as a web developper.</p>
                    <p>This is the reason why I chose to follow a very intensive 6 months training at Ecole O'Clock where I learn several programming languages from the front side (user interface) as well as the back side (server).</p>
                    <p>I specialized on the back side with the framework "symfony".</p>
                    </span>
                    </div>
            </section>
            

        </body>
    </main>
    {% endblock %}
