{% extends 'base.html.twig' %}

{% block title %}J|M|D Web Developper{% endblock %}
{% block body %}
	<main>
		<img class="main__logo" src="{{asset('assets/pictures/JMD.png')}}" alt="logo">
			<section class="homepage">
				<div class="container">
					<div class="card">
						<div class="slide slide1">
							<div class="content">
								<div class="icon">
									<h2 class="titleh2">
										<span>L</span>astest Projects</h2>
								</div>
							</div>
						</div>
						<div class="slide slide2">
							<div class="content">
								<ul>
									<li><ahref="{{path('lastest')}}">Caroline Coiffure</a></li>
									<li><ahref="{{path('lastest')}}">This Portfolio</a></li>
									<li><ahref="{{path('lastest')}}">Clever Contrarian</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="homepage">
				<div class="container">
					<div class="card">
						<div class="slide slide1">
							<div class="content">
								<div class="icon">
									<h2 class="titleh2">
										<span>T</span>echnologies used</h2>
								</div>
							</div>
						</div>
						<div class="slide slide2">
							<div class="content">
								<ul>
									<li>JavaScript</li>
									<li>PHP</li>
									<li>Symfony</li>
									<li>VueJs</li>
									<li>Bootstrap</li>
									<li>Wordpress</li>
									<li>Maria DB</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="homepage">
				<div class="container">
					<div class="card">
						<div class="slide slide1">
							<div class="content">
								<div class="icon">
									<h2 class="titleh2">
										<span>S</span>kills</h2>
								</div>
							</div>
						</div>
						<div class="slide slide2">
							<div class="content">
								<ul>
									<li>Computer literacy</li>
									<li>Strong numeracy skills</li>
									<li>Strong creative ability</li>
									<li>Attention to detail</li>
									<li>Strong communication skills</li>
									<li>Excellent problem-solving skills</li>
									<li>A logical approach to work</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endblock %}
