{% extends 'base.html.twig' %}

{% block title %}J|M|D Web Developper
{% endblock %}

{% block body %}
	<main>
		<h1 class="title-index">
			<span>J|M|D</span>
			<br>web developper</h1>
		<section class="homepage">

			<div class="container">
				<div class="card">
					<div class="slide slide1">
						<div class="content">
							<div class="icon">
								<h2 class="titleh2">
									<span>w</span>eb Creation</h2>
							</div>
						</div>
					</div>
					<div class="slide slide2">
						<div class="content">
							<ul>
								<li><a href="{{ path ('lastest') }}">Caroline Coiffure</a></li>
								<li><a href="{{ path ('lastest') }}">Pierre Dabadie Artiste Peintre</a></li>
								<li><a href="{{ path ('lastest') }}">MikeFA</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>


		</section>
		<section class="homepage">

			<div class="container">
				<div class="card">
					<div class="slide slide1">
						<div class="content">
							<div class="icon">
								<h2 class="titleh2">
									<span>T</span>echnologies used</h2>
							</div>
						</div>
					</div>
					<div class="slide slide2">
						<div class="content">
							<ul>
								<li>JavaScript</li>
								<li>PHP</li>
								<li>Symfony</li>
								<li>VueJs</li>
								<li>Bootstrap</li>
								<li>Wordpress</li>
								<li>PrestaShop</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="homepage">
			<div class="container">
				<div class="card">
					<div class="slide slide1">
						<div class="content">
							<div class="icon">
								<h2 class="titleh2">

									<span>S</span>kills</h2>
							</div>
						</div>
					</div>
					<div class="slide slide2">
						<div class="content">
							<ul>
								<li>Computer literacy</li>
								<li>Strong numeracy skills</li>
								<li>Strong creative ability</li>
								<li>Attention to detail</li>
								<li>Strong communication skills</li>
								<li>Excellent problem-solving skills</li>
								<li>A logical approach to work</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</section>


	</main>
{% endblock %}
