{% extends 'base.html.twig' %}

{% block title %}J|M|D Web Developper
{% endblock %}

{% block body %}

	<main>
		<body>
			<h1 class="title-other_pages">
				<span>J|M|D</span>
				web development</h1>
			<section>
				<h2>Caroline Coiffure</h2>
				<p class="textbox">Was the 1st website in production. I used a mix of Bootstrap and VueJs to make the site responsive and interactive. The 1st version was just a showcase web page and quickly evolved a dynamic appointment maker.</p>
			</section>
			<section>
				<h2>Pierre Dabadie - Artist</h2>
				<p class="textbox">The choice of CMS was though. I was hesitating between Wordpress or Presta Shop. I made severals research on what would be the best for e-commerce and I stopped my choice on Presta Shop.</p>
			</section>
			<section>
				<h2>Mike - Financial Advisor</h2>
				<p class="textbox">This blog style web app was requested by a friend of mine. He wanted to have something that he can update quickly on regular basis. He also wished to insert live videos from his youtube channel. Wordpress was the obvious choice here</p>
			</section>

		</body>
	</main>

{% endblock %}
