{% extends 'base.html.twig' %}

{% block title %}J|M|D Web Developper
{% endblock %}

{% block body %}

	<main>
		<body>
			<img class="secondary__logo" src="{{asset('assets/pictures/JMD.png')}}" alt="Logo">
			<section class="other__pages">
				<h2>Caroline Coiffure</h2>
				<p class="textbox">Was the 1st website in production. I used a mix of Bootstrap and VueJs to make the site responsive and interactive. The 1st version is just a showcase web page and will quickly evolved in a dynamic appointment maker.</p>
			</section>
			<section class="other__pages">
				<h2>My Portfolio</h2>
				<p class="textbox">This Portfolio was realized with Symfony Framework and will evolve with time</p>
			</section>
			<section class="other__pages">
				<h2>The Clever Contrarian</h2>
				<p class="textbox">This blog style web app was requested by a friend of mine. He wanted to have something that he can update quickly on regular basis. He also wished to insert live videos from his youtube channel. Wordpress was the obvious choice here.</p> <a href="https://www.clevercontrarian.com">Link to the website</a>
			</section>

		</body>
	</main>

{% endblock %}
