body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  background: url(../pictures/background-contact-me.jpg);
  background-position: center;
}

nav {
  padding: 1em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 2.5em;
  text-transform: capitalize;
}

h1 span {
  color: #cba135;
  font-weight: 100;
  font-size: 1.5em;
}

h2 span {
  color: #cba135;
  font-weight: 100;
  font-size: 1.5em;
}

.title-index {
  text-align: center;
  word-spacing: 0.5em;
  margin: 1.1em;
  line-height: 1.5em;
}

h2 {
  font-size: 2em;
}

section.homepage {
  padding: 0 2em 4em;
  float: left;
  display: flex;
  margin-left: 2.5em;
}

section {
  padding: 0 2em 4em;
}

label {
  margin: 1.5em;
  padding: 1.5em;
}

ul.nav {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #cba135;
  transition-delay: 5ms;
  font-weight: bolder;
}

form {
  margin: 2em;
}

fieldset {
  line-height: 2em;
  text-transform: capitalize;
}

h1.title-other_pages {
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  line-height: 2em;
  margin-right: 2em;
  padding: 1em;
}

h1.title-contact_me {
  margin: 0em;
  font-size: 3em;
}

.container-contact_me {
  text-align: center;
  position: initial;
  margin-top: -6em;
}

input,
textarea {
  border: none;
  background-color: #b0731850;
  height: 1.3em;
  text-align: center;
}

textarea {
  height: 14em;
  padding: 1em;
  width: 17em;
  font-size: 1.5em;
}

.contact_me--web_pages {
  width: 18.9em;
  height: 2em;
  font-size: 1.2em;
}
input.contact_me--input {
  width: 19em;
  height: 2em;
  font-size: 1.2em;
}

button {
  margin: 2em;
  width: 16em;
  height: 3em;
  font-size: 1em;
  border-radius: 1em;
  background-color: #cba135;
  border: none;
}

.bio {
  padding: 1em 1em 1em 0em;
}

h3 {
  font-size: 1.1em;
  padding: 1.3em;
}

.container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dddddd;
  border-radius: 10%;
}

.container .card .icon .fa {
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 80px;

  color: rgba(255, 255, 255, 0.39);
}

.container .card .slide {
  width: 300px;

  height: 200px;
  justify-content: center;

  align-items: center;
  transition: 0.5s;
}

.container .card .slide.slide1 {
  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: 0.7s;

  transform: translateY(100px);
}

.container .card:hover .slide.slide1 {
  transform: translateY(0px);
}

.container .card .slide.slide2 {
  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: 0.8s;

  transform: translateY(-100px);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

  border-radius: 10%;
}

.container .card:hover .slide.slide2 {
  transform: translateY(0);
}

.container .card .slide.slide2::after {
  content: "";

  position: absolute;

  width: 30px;

  height: 4px;

  bottom: 15px;

  left: 50%;

  left: 50%;

  transform: translateX(-50%);

  background: #cfdcee33;
}

.container .card .slide.slide2 .content p {
  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;
}

.container .card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;
}

.titleh2 {
  text-align: center;
  padding-top: 2.5em;
}

.content {
  line-height: 1.5em;
  text-align: center;
}

.textbox {
  padding-left: 0em;
  padding-top: 1em;
  line-height: 1.5em;
}

i {
  text-align: center;
}

.main__logo {
  width: 53%;
  margin: auto;
  display: flex;
  padding: 2em 0;
}

footer {
  text-align: center;
  font-size: 0.7em;
  clear: both;
  
}

.secondary__logo{
  width: 20%;
  float: right;

}

.other__pages{
  clear: both;
}
