body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: url(../pictures/background-contact-me.jpg);
  background-position: center ;
}
h1 {
  font-size: 2.5em;
  text-transform: capitalize;
}
h1 span {
  color: rgba(206, 135, 64,0.5);
  font-weight: 100;
  font-size: 1.5em;
}
.title-index{
  text-align: center;
  word-spacing: 0.5em;
  margin: 1.1em;
  line-height: 1.5em;
}
h2 {
  font-size: 2em;
}
label {
  margin: 1.5em;
  padding: 1.5em; 
}

 ul {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5em;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: black;
  transition: all .2s ease-in-out;
}

a:hover {
  color: rgba(206,135,64,0.5);
  transform: scale(1.9);
  
}

form {
  margin: 2em;
}

fieldset {
  line-height: 2em;
  text-transform: capitalize;
}

h1.title-other_pages {
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  line-height: 2em;
  margin-right: 2em;
  padding: 1em;
}
h1.title-contact_me {
  margin: 1em;
}

.container-contact_me {
  text-align: center;
  position: initial;
  margin-top: -6em;
}

input,
textarea {
  border: none;
  background-color: rgb(206 135 64 / 25%);
  height: 1.3em;
  text-align: center;
}
textarea {
  height: auto;
}
.contact_me--web_pages {
  width: 3.9em;
}
footer {
  text-align: center;
  font-size: 0.7em;
  margin-top:5em;
}
